@{
    ViewBag.Title = "Catalog";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    string? category = request.RouteValues["category"]?.ToString();
    
    int currentPage = Model.CurrentPage;
    int totalPages = Model.TotalPages;
}

@model Web_153504_Padvalnikau.Domain.Models.ListModel<Sneaker>

<!-- Category picking -->
    <div class="container" id="container">
    <div class="row">
        <div class="col-2 border-2">
            <ul class="nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">Category
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="product"
                               asp-route-category="">Все</a>
                        </li>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="product"
                                   asp-route-category="@item.NormalizedName">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>   
                </li>
            </ul>
        </div>
            <partial name="_CatalogPartial" model="@Model"/>
        </div>
        </div>