header, footer {
  background-color: rgba(var(--bs-dark-rgb));
}
.nav-color {
  color: rgba(255, 255, 255, 0.5)
}
body {
  margin: 0;
  /* Растягиваем body по высоте */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
img{
  max-height: 360px;
  max-width: 490px ;
}

.pagination{
  margin: 20px;
  align-items: center;
  justify-content: center;
}