@using Web_153504_Padvalnikau.Domain.Entities

@if (SelectedProduct != null)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@SelectedProduct.Image" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">@SelectedProduct.Name</h5>
            <p class="card-text">@SelectedProduct.Description</p>
            <a class="btn btn-primary">Price: @SelectedProduct.Price</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Sneaker? SelectedProduct { get; set; }
}